.applicante {
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 10%;
}

.header_applicant {
    border-radius: 10px;
    background-image: url(..images/b1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 300%;
    background-position: center;
}