{% extends 'hirevac.html' %}
{% load static %}
{% block title %}
    Dashboard
{% endblock %}

{% block content %}

<section class="job_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2 class="pb-5">
              SUBSCRIPTIONS
            </h2>
        </div>
        <div class="row featured align-items-stretch">
            <div class="col-lg-5 mb-5 mb-lg-0" style="border-style: solid;border-width: 1px; padding: 20px; margin: 45px; border-radius: 10px;">
                <div class="box-image-text bg-visible full-height">
                    <div class="top">
                        <a href="#">
                            {% comment %} 
                            <div class="image">
                                <img src="{% static 'images/meeting.png' %}" alt="" class="img-fluid" style="border-radius: 20px;">
                            </div>
                            {% endcomment %}
                        </a>
                        <div class="heading_container heading_center">
                            <h2 class="pb-5 mt-4">
                              FREE
                            </h2>
                        </div>
                        <div class="px-4">
                            <h6>
                                What you'll get:
                            </h6>
                            <ul>
                                <li>Posted Job listing will be seen on multiple channels (e.g. website and mobile app),</li>
                                <li>Easy-to-use job advertisement composer.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <div style="  
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100px;">
                            <h5 class="pt-5 mt-5">
                                <a href="#" style="color: orangered; font-weight: bold;">
                                    <button type="button" disabled 
                                    style="color: gray; font-weight: bold; border-radius: 20px; width: 190px; height: 40px;">
                                        Subscribed
                                    </button>
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 mb-5 mb-lg-0" style="border-style: solid;border-width: 1px; padding: 20px; margin: 45px; border-radius: 10px;">
                <div class="box-image-text bg-visible full-height">
                    <div class="top">
                        <a href="#">
                        </a>
                        <div class="heading_container heading_center">
                            <h2 class="pb-5 mt-4">
                              PREMIUM
                            </h2>
                        </div>
                        <div class="px-4">
                            <h6>
                                What you'll get:
                            </h6>
                            <ul>
                                <li>All benefits from the Free version,</li>
                                <li>Cover image and job card styling to differentiate your ad from others,</li>
                                <li>Company photos to showcase your office or working environment.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <div style="
                        justify-content: center;
                        align-items: center;
                        height: 100px;
                        color: white;">
                            <h5 class="pt-4">
                                <div id="paypal-button-container-P-1E496162EH488061PMODZSOA"></div>
                                <div id="paypal-button-container-P-9ET08962GK572033XMOD3AZA"></div>
                                <script src="https://www.paypal.com/sdk/js?client-id=AQ_uL43s_Ynq_JUsj75ttXBCaN_hBlBp09Z0exlAgcGO13-rFzfhldaThXFMNcpjk6zieHIxmNyJ4CEG&vault=true&intent=subscription" data-sdk-integration-source="button-factory"></script>
                                <script>
                                paypal.Buttons({
                                    style: {
                                        shape: 'pill',
                                        color: 'blue',
                                        layout: 'horizontal',
                                        label: 'subscribe'
                                    },
                                    createSubscription: function(data, actions) {
                                        return actions.subscription.create({
                                        /* Creates the subscription */
                                        plan_id: 'P-9ET08962GK572033XMOD3AZA'
                                        });
                                    },
                                    onApprove: function(data, actions) {
                                        alert(data.subscriptionID); // You can add optional success message for the subscriber here
                                    }
                                }).render('#paypal-button-container-P-9ET08962GK572033XMOD3AZA'); // Renders the PayPal button
                                </script>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>



{% endblock %}